---
import Layout from '../layouts/Layout.astro';
import { UserProfile } from '../components/userProfile.jsx';
---

<Layout title="My Profile">
	<main>
		<div class="flex">
			<div class="flex md:flex-row">
				<UserProfile client:load></UserProfile>
			</div>
		</div>
	</main>
</Layout>
