---
import Layout from '../layouts/Layout.astro';
import { UserProfile } from '../components/UserProfile.jsx';
---

<Layout title="My Profile">
	<main>
		<div class=""></div>
		<UserProfile client:load></UserProfile>
	</main>
</Layout>
