---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import UserProfile from '../components/UserProfile.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class=""></div>
		<UserProfile></UserProfile>
	</main>
</Layout>
