---
import Layout from '../layouts/Layout.astro';
import { UserProfile } from '../components/userProfile.jsx';
---

<Layout title="Profile | Zulkarnain Miranda">
	<main>
		<div class="flex">
			<div class="flex md:flex-row md:w-1/2">
				<UserProfile client:load></UserProfile>
			</div>
		</div>
	</main>
</Layout>
